@import (reference) '../../styles/variables.less';

each(@difficulty, {
  .board-@{value} {
    display: flex;
    flex-wrap: wrap;
    padding: 1px;
    border: 1.5px solid darkgrey;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 1px black;
  }
})

.boardMessage {
  margin: auto;
  padding: 24px;
}
