.gameControlContainer {
  display: flex;
  justify-content: space-around;
}

.gameControl {
  font-weight: bold;
  padding: 8px;
  border: none;
  border-radius: 5px;
  background-color: rgb(239, 239, 239);
  font-family: inherit;
  cursor: pointer;
}

.gameControlHover() {
  &:hover {
    background-color: lightgrey;
  }
}

.gameControlSelectWrapper {
  position: relative;
  .dropdownIcon {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    pointer-events: none;
  }
}

.gameControlDifficultySelect {
  &:extend(.gameControl);
  .gameControlHover();
  appearance: none;
  min-width: 88px;
  option {
    background-color: rgb(239, 239, 239);
  }
}

.gameControlResetBtn {
  &:extend(.gameControl);
  .gameControlHover();
}