@shadowStyle: 0 0 4px 1px;
@gameWonColor: green;
@gameLostColor: red;

.gameModal-WON {
  box-shadow: @shadowStyle @gameWonColor;
}

.gameModal-LOST {
  box-shadow: @shadowStyle @gameLostColor;
}

.gameModalHeading {
  font-size: 2rem;
  text-align: center;
}

.summary {
  display: flex;
  justify-content: center;
  padding: 16px 0;

  .summaryTime {
    padding: 16px 16px;
    font-size: 1.625rem;
  }
}

.difficultyStatsText {
  font-size: 1.125rem;
}